<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TiendaMia_FirebasePushNotification>
            <version>0.0.1</version>
        </TiendaMia_FirebasePushNotification>
    </modules>
    <global>
        <models>
            <tiendamia_firebasepushnotification>
                <class>TiendaMia_FirebasePushNotification_Model</class>
                <resourceModel>tiendamia_firebasenotification_resource</resourceModel>
            </tiendamia_firebasepushnotification>
            <tiendamia_firebasenotification_resource>
                <class>TiendaMia_FirebasePushNotification_Model_Resource</class>
                <entities>
                    <ordernotification>
                        <table>tiendamia_order_notification</table>
                    </ordernotification>
                </entities>
            </tiendamia_firebasenotification_resource>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <tiendamia_tirebasepushnotification>
                        <class>tiendamia_firebasepushnotification/observer</class>
                        <method>sendNotification</method>
                        <type>singleton</type>
                    </tiendamia_tirebasepushnotification>
                </observers>
            </sales_order_save_after>
        </events>
        <blocks>
            <tiendamia_firebasepushnotification>
                <class>TiendaMia_FirebasePushNotification_Block</class>
            </tiendamia_firebasepushnotification>
        </blocks>
    </global>
    <frontend>
        <routers>
            <notification>
                <use>standard</use>
                <args>
                    <module>TiendaMia_FirebasePushNotification</module>
                    <frontName>notification</frontName>
                </args>
            </notification>
        </routers>
        <layout>
            <updates>
                <tiendamia_firebasepushnotification>
                    <file>firebasepushnotification.xml</file>
                </tiendamia_firebasepushnotification>
            </updates>
        </layout>
    </frontend>
</config>